:root {
  --panel-background: hsl(0, 0%, 15%);
	--panel-stroke: hsl(0, 0%, 45%);
}

rect:hover {
	fill: hsl(32, 100%, 50%);
}

rect.gallery {
	stroke: var(--panel-background);
}

rect.gallery:hover {
	fill: var(--panel-background);
}

rect#riskToggle, rect#impToggle, rect#ascToggle {
	stroke: var(--panel-stroke);
	fill: var(--panel-background);
}

rect#riskToggle:hover, rect#impToggle:hover, rect#ascToggle:hover {
	stroke: hsl(0, 0%, 70%);
  fill: hsl(0, 0%, 14%)
}

body {
	background-color: hsl(0, 0%, 15%);
}

path, line, text {
	color: hsl(0, 0%, 75%);
}

text {
  pointer-events: none;
}

.field {
	float: left;
	max-width: 750px;
}

.panel {
  right: 40px;
	bottom: 40px;
  position: fixed;
	max-width: 558px;
	background-color: var(--panel-background);
	border-radius: 10px;
	border-color: var(--panel-stroke);
	border-width: 1px;
	border-style: solid;
}
