rect:hover {
	fill: #ff8800;
}

body {
	background-color: hsl(0, 0%, 15%);
}

fieldset {
	color: hsl(0, 0%, 75%);
	font-family: monospace;
}

.rectLabel {
	fill: hsl(0, 0%, 15%);
	font-family: monospace;
	font-size: 3.25px;
}
