rect:hover {
	fill: #ff8800;
}

rect.gallery:hover {
	fill: hsl(0, 0%, 15%);
}

body {
	background-color: hsl(0, 0%, 15%);
}

path, line, text {
	color: hsl(0, 0%, 75%);
}

.field {
	float: left;
	max-width: 1200px;
}

.panel {
  right: 40px;
	bottom: 400px;
  position: fixed;
}
